<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume/CV Design</title>
    <link rel="stylesheet" href="builderTestStyles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>


<div class="container-fluid">

    <div class="container-fluid">
        <div class="row">
            <!--            Left side-->
            <div class="col-sm-6">
                <!--test-->


                <!--test-->
                <!--                Personal field-->

                <form action="#" th:action="@{/builder/update}" th:object="${resume}" method="post">
                    <p th:text="${session.user.id+' '+session.user.name}">id and name</p>
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{imageName}">
                    <br>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" th:field="*{jobTitle}" placeholder="Job Title">
                        </div>
                        <div class="col">
                            <!--image upload-->
                            <img th:src="@{'/images/' + ${resume.imageName}}" alt="Resume image" width="70"
                                 height="70">


                            <!-- Button trigger image upload modal -->
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#photoUploadModal">
                                Edit photo
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#photoDeleteModal">
                                Delete photo
                            </button>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" th:field="*{name}" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" th:field="*{surname}" class="form-control" placeholder="Last name">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" th:field="*{email}" class="form-control" placeholder="Email">
                        </div>
                        <div class="col">
                            <input type="text" th:field="*{phone}" class="form-control" placeholder="Phone">
                        </div>
                    </div>

                    <!--                    Personal Collapse side-->

                    <div class="collapse" id="collapseExample">
                        <div class="row">
                            <div class="col">
                                <input type="text" th:field="*{country}" class="form-control" placeholder="Country">
                            </div>
                            <div class="col">
                                <input type="text" th:field="*{city}" class="form-control" placeholder="City">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" th:field="*{address}" class="form-control" placeholder="Address">
                            </div>
                            <div class="col">
                                <input type="text" th:field="*{nationality}" class="form-control"
                                       placeholder="Nationality">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" th:field="*{birthplace}" class="form-control"
                                       placeholder="Place Of Birth">
                            </div>
                            <div class="col">
                                <input type="date" th:field="*{birthDate}" class="form-control"
                                       placeholder="Date Of Birth">
                            </div>
                        </div>
                    </div>
                    <br>

                    <!--                    Edit additional button-->
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">
                            Edit additional details
                        </button>
                    </p>

                    <!--                    Professional summary-->
                    <div class="mb-3">
                        <label for="textarea">Professional Summary</label>
                        <textarea th:field="*{about}" class="form-control" id="textarea"
                                  placeholder="Include 2-3 clear sentences about your overall experience"></textarea>
                    </div>


                    <!--                    Education starts here-->
                    <div class="mb-3">
                        <label for="textarea">Education</label>
                        <!--educatioin list-->
                        <div>

                            <td th:each="education,i : *{educations}">
                                <ul id="educationUL">
                                    <li class="edu_item">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="educationHeader">Education header</label>
                                                <input type="text"
                                                       th:field="*{educations[__${i.index}__].educationHeader}"
                                                       class="form-control" id="educationHeader" placeholder="Here">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="educationBody">Education body</label>
                                                <input type="text"
                                                       th:field="*{educations[__${i.index}__].educationBody}"
                                                       class="form-control" id="educationBody" placeholder="Here">
                                            </div>
                                            <div class="form-group col">
                                                <label for="educationDate">Education date</label>
                                                <input type="date"
                                                       th:field="*{educations[__${i.index}__].educationDate}"
                                                       class="form-control" id="educationDate" placeholder="Here">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>

                        </div>
                        <!--educatioin list add button-->
                        <p>
                            <button class="btn btn-primary" type="button" id="addAction_education">Add more</button>
                        </p>
                    </div>
                    <!--                    education ends here-->


                    <!--                    Social starts here-->
                    <div class="mb-3">
                        <label for="textarea">Social links</label>
                        <!--Social list-->
                        <div>
                            <td th:each="social,i : *{socials}">
                                <ul id="socialUl">
                                    <li class="social_item">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="socialLink">Social link</label>
                                                <input type="text"
                                                       th:field="*{socials[__${i.index}__].socialNetworkName}"
                                                       class="form-control" id="socialLink" placeholder="Here">
                                            </div>
                                            <div class="form-group col">
                                                <label for="socialAddress">Social address</label>
                                                <input type="text"
                                                       th:field="*{socials[__${i.index}__].socialNetworkAddress}"
                                                       class="form-control" id="socialAddress" placeholder="Here">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </div>
                        <!--social list add button-->

                        <p>
                            <button class="btn btn-primary" type="button" id="addAction_social">Add more</button>
                        </p>
                    </div>
                    <!--                    social ends here-->


                    <!--                    EmploymentHistory starts here-->
                    <div class="mb-3">
                        <label for="textarea">Employment history</label>
                        <!--EmploymentHistory list-->
                        <div>
                            <td th:each="employmentHistory,i : *{employmentHistory}">
                                <ul id="EmployementHistoryUl">
                                    <li class="employement_history_item">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="experience_header">Job title</label>
                                                <input type="text" th:field="*{employmentHistory[__${i.index}__].experienceHeader}"
                                                       class="form-control" id="experience_header" placeholder="Here">
                                            </div>
                                            <div class="form-group col">
                                                <label for="experience_body">Employer</label>
                                                <input type="text" th:field="*{employmentHistory[__${i.index}__].experienceBody}"
                                                       class="form-control" id="experience_body" placeholder="Here">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="experience_date">Experience date</label>
                                                <input type="text" th:field="*{employmentHistory[__${i.index}__].experienceDate}"
                                                       class="form-control" id="experience_date" placeholder="Here">
                                            </div>
                                            <div class="form-group col">
<!--                                              empty label-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                        </div>
                        <!--Employment History add button-->

                        <p>
                            <button class="btn btn-primary" type="button" id="addAction_EmploymentHistory">Add more</button>
                        </p>
                    </div>
                    <!--                    EmploymentHistory ends here-->


                    <!--                    Skills starts here-->
                    <div class="mb-3">
                        <label for="textarea">Skills</label>
                        <!--Skill list-->
                        <div>
                            <td th:each="skill,i : *{skills}">
                                <ul id="skillUl">
                                    <li class="skill_item">
                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="skill_name">Skill name</label>
                                                <input type="text" th:field="*{skills[__${i.index}__].skillName}"
                                                       class="form-control" id="skill_name" placeholder="Here">
                                            </div>
                                            <div class="form-group col">
                                                <label for="skill_power">Skill power</label>
                                                <input type="range" min="0" max="100" step="10"
                                                       th:field="*{skills[__${i.index}__].power}"
                                                       class="form-control-range" id="skill_power">
                                            </div>
                                            <!--                                            custom-->


                                            <!--                                        custom-->
                                        </div>
                                    </li>
                                </ul>
                        </div>
                        <!--skill list add button-->

                        <p>
                            <button class="btn btn-primary" type="button" id="addAction_skill">Add more</button>
                        </p>
                    </div>
                    <!--                    Skills ends here-->



                    <p>
                        <button class="btn btn-primary" type="submit" id="save">Save</button>
                    </p>
                </form>


            </div>

            <!--            right size-->
            <div id="iframe_template_div" class="col-sm6">
                <iframe id="iframe_template" width="600" height="1000" th:src="@{resume/template/{id}(id=${resume.id})}"
                        scrolling="no"
                        frameborder="0"></iframe>

            </div>
        </div>
    </div>

</div>

<!-- Photo upload Modal -->
<div class="modal fade" id="photoUploadModal" tabindex="-1" role="dialog" aria-labelledby="photoUploadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="photoUploadModallabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" action="/builder/upload">
                <div class="modal-body">

                    <table>
                        <tr>
                            <td>File to upload:</td>
                            <td><input type="file" name="file"/></td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" value="Upload" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- photo delete modal -->


<div class="modal fade" id="photoDeleteModal" tabindex="-1" role="dialog" aria-labelledby="photoDeleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <form method="POST" th:action="@{/builder/delete/photo/{id}(id=${resume.id})}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" value="delete" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/js/builderTest.js}"></script>


</html>