<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume/User registration</title>
    <link rel="stylesheet" href="builderTestStyles.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>


<div class="col-8 my-5 container login_fix_">
    <form action="#" th:action="@{/user/addUser}" th:object="${user}" method="post">

        <div class="form-group mx-sm-3 mb-2">
            <label for="name">name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Name">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="surname">surname</label>
            <input type="text" id="surname" th:field="*{surname}" class="form-control" placeholder="Surname">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="email">email</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="Email">
        </div>

        <div class="form-group mx-sm-3 mb-2">
            <label for="password">password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password">
        </div>


        <!--        <div class="form-group mx-sm-3 mb-2">-->
        <!--            <label for="password">password</label>-->
        <!--            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password">-->
        <!--        </div>-->


        <div class="form-group mx-sm-3 mb-2">
            <button class="btn btn-primary" type="submit" id="save">Register</button>
        </div>
    </form>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"-->
<!--        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</html>